:root {
  --default: #072ac8;
  --accent: #43d2ff;
  --hover: #a2d6f9;
  --tapped: #d1edff;
  --dark: #292e47;
  --medium: #6b708d;
  --light: #f2f4fc;
  --lightblue: #ecf7ff;
  --white: #fff;
  --secondary: #ffc600;
  --font-family: "Roboto", sans-serif;
}

/* Elimina los márgenes predeterminados para un mejor control en CSS autorizado */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

/* Elimina los estilos de lista en ul, ol elementos con un atributo de clase, lo que sugiere que el estilo predeterminado será eliminado */
ul[class],
ol[class] {
  list-style: none;
}

/* Establece alturas de línea más cortas en encabezados e interacciones */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

/* Asegura que los textareas sin un atributo de filas no sean demasiado pequeños */
textarea {
  resize: vertical;
}

/* Asegura que los elementos anclados tengan un margen de desplazamiento extra */
a[href^="#"] {
  scroll-margin-top: 70px; /* Ajusta este valor según sea necesario */
}

/* Elimina todas las animaciones y transiciones para aquellos que prefieren no verlas */
* {
  animation: none;
  transition: none;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--light);
  height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  display: flex; /* Usa flexbox para facilitar el diseño */
  flex-direction: column; /* Organiza el contenido en una columna */
}

.button {
  background-color: var(--default);
  color: var(--light);
  padding: 1rem;
  font-weight: bold;
  width: max-content;
}

.button:hover {
  background-color: var(--hover);
  color: var(--dark);
  font-weight: bold;
}

.button:active {
  background-color: var(--tapped);
}

.dark-text {
  color: var(--dark);
}

.medium-text {
  color: var(--medium);
}

.light-background {
  background-color: var(--light);
}

.lightblue-background {
  background-color: var(--lightblue);
}

.secondary-text {
  color: var(--secondary);
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: fixed; /* Añadimos posición fija */
  top: 0; /* Aseguramos que el encabezado esté en la parte superior de la pantalla */
  left: 0; /* Aseguramos que el encabezado esté alineado a la izquierda */
  right: 0; /* Aseguramos que el encabezado ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Aseguramos que el encabezado esté por encima del contenido */
  background-color: var(
    --light
  ); /* Añadimos un fondo para que el contenido no se vea a través del encabezado */
}

nav ul {
  display: flex;
  gap: 1rem;
}

.nav-link.active {
  color: var(--default);
}

a {
  color: var(--medium);
}

a:hover {
  color: var(--default);
}

.hamburger {
  /* Muestra el menú hamburguesa en pantallas pequeñas */
  position: absolute; /* Posiciona el menú hamburguesa absolutamente */
  top: 1rem; /* Ajusta la posición vertical del menú hamburguesa */
  right: 1rem; /* Ajusta la posición horizontal del menú hamburguesa a la derecha */
  cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa sobre el menú hamburguesa */
}

/* Section CTA */

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h3 {
  font-size: 40px;
  text-align: center;
}

.cta p {
  font-size: 20px;
  color: var(--dark);
  padding-bottom: 2rem;
}

.cta input {
  padding: 1rem;
}

.bg-cta {
  height: 500px;
  background-color: var(--secondary);
}

.subscribe .input-container {
  position: relative;
  display: inline-block;
}

.subscribe .input {
  padding-left: 40px;
  font-size: 16px; /* Asegúrate de que el tamaño del texto sea adecuado */
}

.subscribe .input-image {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

/* Seccion Projects */
.projects {
  display: flex;
  flex-direction: row; /* Usa flexbox para alinear las tarjetas horizontalmente */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  align-items: center; /* Alinea las tarjetas verticalmente en el centro */
  flex-wrap: wrap; 
}

.card {
  display: flex; /* Usa flexbox para organizar el contenido de la tarjeta */
  flex-direction: column; /* Organiza el contenido en una columna */
  align-items: flex-start;
  justify-content: space-between; /* Alinea el contenido en el centro */
  width: 350px;
  height: 444px; /* Establece un ancho máximo para las tarjetas */
  padding-bottom: 1rem; /* Añade un poco de espacio alrededor del contenido de la tarjeta */
  background-color: var(
    --white
  ); /* Usa un color de fondo blanco para las tarjetas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra suave a las tarjetas */
  transition: transform 0.3s ease; /* Añade una transición suave al transformar la tarjeta */
}

.card:hover {
  transform: translateY(
    -10px
  ); /* Mueve la tarjeta hacia arriba al pasar el cursor */
}

.projects .card img {
    display: inline;
    width: 100%;
    height: 200px;
}

.card h4,
p,
a {
  margin: 1rem; /* Añade un poco de espacio debajo del título */
}

h4 {
  font-size: 24px;
}
.card a {
  font-size: 17px;
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: var(--default); /* Usa el color primario para el enlace */
  transition: color 0.3s ease; /* Añade una transición suave al color del enlace */
}

.card a:hover {
  color: var(--hover); /* Cambia el color del enlace al pasar el cursor */
}

.project-cards {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7rem;
  background-color: var(--light);
  color: var(--medium);
}

.footer-laptop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-top: 3rem;
}

.footer-address {
  margin-top: 1rem;
  font-size: 17px;
  margin: 10px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 0.5rem 0;
}

.footer-links a {
  color: var(--medium);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--default);
}

@media (max-width: 768px) {
  #nav {
    display: none;
  }
  header button {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #nav.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--light);
    padding: 1rem;
  }

  .hamburger-menu.active ul li {
    margin: 0.5rem 0;
  }

    .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .card-project {
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
  }

  .footer-details {
    display: block;
  }

  .footer-laptop {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-around;
  }

  .footer div {
    width: 50%;
  }

  .footer-column {
    flex: none;
  }

  .footer-column:first-child {
    flex: none;
  }

  .footer-logo {
    margin-top: 1rem;
  }

  .footer-address,
  .footer-links {
    margin-top: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer-details {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
  }

  .client-logos,
  .projects {
    gap: 2rem;
  }

  .card-project {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1025px) {
  .footer-details {
    display: none;
  }

  .hamburger {
    display: none;
  }

   .projects {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 2rem;
  }

  .card-project {
    width: 350px;
    height: 444px;
    margin-bottom: 0;
  }
}
