/* Header */
header {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 padding: 1rem;
 position: fixed; /* Añadimos posición fija */
 top: 0; /* Aseguramos que el encabezado esté en la parte superior de la pantalla */
 left: 0; /* Aseguramos que el encabezado esté alineado a la izquierda */
 right: 0; /* Aseguramos que el encabezado ocupe todo el ancho de la pantalla */
 z-index: 1000; /* Aseguramos que el encabezado esté por encima del contenido */
 background-color: var(--light); /* Añadimos un fondo para que el contenido no se vea a través del encabezado */
}


nav ul {
  display: flex;
  gap: 1rem;
}

.nav-link.active {
  color: var(
    --default
  );
}

a {
  color: var(--medium);
}

a:hover {
  color: var(--default);
}

/* Section Hero */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 7rem 12rem; 
    gap: 2rem; 
}

.hero div {
    flex: 1; 
}

/* Section Hero, div content */
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 60px;
  color: var(--dark);
}

p {
  font-size: 20px;
  color: var(--medium);
}

.row-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

/* Section Hero, div image-container */

.image-container {
    position: relative; 
    width: 100%; 
    max-width: 570px; 
}

.card1, .card2 {
    position: absolute;
    width: 250px;
    height: 270px; 
}

.card1 {
    top: 0;
    left: 0;
}

.card2 {
    bottom: -60px;
    right: -79px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .hero {
        flex-direction: column; 
        gap: 1rem; 
    }

    .image-container {
        display: none;
    }

    .card1, .card2 {
        display: none; 
    }

    
}

