/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: fixed; /* Añadimos posición fija */
  top: 0; /* Aseguramos que el encabezado esté en la parte superior de la pantalla */
  left: 0; /* Aseguramos que el encabezado esté alineado a la izquierda */
  right: 0; /* Aseguramos que el encabezado ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Aseguramos que el encabezado esté por encima del contenido */
  background-color: var(
    --light
  ); /* Añadimos un fondo para que el contenido no se vea a través del encabezado */
}

nav ul {
  display: flex;
  gap: 1rem;
}

.nav-link.active {
  color: var(--default);
}

a {
  color: var(--medium);
}

a:hover {
  color: var(--default);
}

/* Section Hero */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7rem 12rem;
  gap: 2rem;
}

.hero div {
  flex: 1;
}

/* Section Hero, div content */
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 60px;
  color: var(--dark);
}

p {
  font-size: 20px;
  color: var(--medium);
}

.row-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

/* Section Hero, div image-container */

.image-container {
  position: relative;
  width: 100%;
  max-width: 570px;
}

.card1,
.card2 {
  position: absolute;
  width: 250px;
  height: 270px;
}

.card1 {
  top: 0;
  left: 0;
}

.card2 {
  bottom: -60px;
  right: -79px;
}

/* Seccion Clients */
.clients {
  padding: 2rem 0; 
  background-color: var(
    --light
  ); 
}

.client-logos {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  flex-wrap: wrap;
  gap: 1rem; 
  padding: 0 1rem; 
}

.client-logo {
  max-width: 150px; 
  height: auto; 
   filter: grayscale(100%);
}

/* Seccion Projects */
.projects {
 display: flex; /* Usa flexbox para alinear las tarjetas horizontalmente */
 justify-content: center; /* Centra las tarjetas horizontalmente */
 align-items: center; /* Alinea las tarjetas verticalmente en el centro */
 gap: 3rem; /* Añade un espacio de 3 rems entre las tarjetas */
 padding: 2rem 0; /* Añade un poco de espacio arriba y abajo */
 background-color: var(--light); /* Usa un color de fondo claro para resaltar las tarjetas */
}

.card-project {
 display: flex; /* Usa flexbox para organizar el contenido de la tarjeta */
 flex-direction: column; /* Organiza el contenido en una columna */
 align-items: center; /* Alinea el contenido en el centro */
 width: 350px;
 height: 444px; /* Establece un ancho máximo para las tarjetas */
padding-bottom: 1rem; /* Añade un poco de espacio alrededor del contenido de la tarjeta */
 background-color: var(--white); /* Usa un color de fondo blanco para las tarjetas */
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra suave a las tarjetas */
 transition: transform 0.3s ease; /* Añade una transición suave al transformar la tarjeta */
}

.card-project:hover {
 transform: translateY(-10px); /* Mueve la tarjeta hacia arriba al pasar el cursor */
}

.card-project img {
 width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
 height: auto; /* Mantiene la proporción de la imagen */
 object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsionarse */
 margin-bottom: 1rem;
 padding: 0; /* Añade un poco de espacio debajo de la imagen */
}

.card-project h4 {
 margin-bottom: 0.5rem; /* Añade un poco de espacio debajo del título */
}

.card-project p {
 margin-bottom: 1rem; /* Añade un poco de espacio debajo del párrafo */
}

.card-project a {
 text-decoration: none; /* Elimina el subrayado del enlace */
 color: var(--primary); /* Usa el color primario para el enlace */
 transition: color 0.3s ease; /* Añade una transición suave al color del enlace */
}

.card-project a:hover {
 color: var(--secondary); /* Cambia el color del enlace al pasar el cursor */
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 1rem;
  }

  .image-container {
    display: none;
  }

  .card1,
  .card2 {
    display: none;
  }

  .client-logos {
    flex-direction: column; 
    align-items: center; 
    gap: 2rem; 
  }

   .projects {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    align-items: center; /* Centra las tarjetas verticalmente */
    gap: 2rem; /* Aumenta el espacio entre las tarjetas en pantallas pequeñas */
    padding: 2rem;
  }

 .card-project {
    width: 70%; /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
    height: auto; /* La altura se ajusta automáticamente */
    margin-bottom: 2rem; /* Añade un poco de espacio debajo de cada tarjeta en pantallas pequeñas */
 }
}
